<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>appAgeRatings</key>
	<dict>
		<key>CN</key>
		<dict>
			<key>clientId</key>
			<integer>313</integer>
			<key>label</key>
			<string>13+</string>
		</dict>
	</dict>
	<key>appleId</key>
	<string>share_appleid003@163.com</string>
	<key>artistId</key>
	<integer>1162116447</integer>
	<key>artistName</key>
	<string>Playrix</string>
	<key>bundleDisplayName</key>
	<string>梦幻花园</string>
	<key>bundleShortVersionString</key>
	<string>9.7.0</string>
	<key>bundleVersion</key>
	<string>9.7.0</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountStoreFront</key>
			<string>143465-19,32</string>
			<key>AppleID</key>
			<string>share_appleid003@163.com</string>
			<key>DSPersonID</key>
			<integer>11466437223</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>PurchaserID</key>
			<integer>11466437223</integer>
		</dict>
		<key>purchaseDate</key>
		<string>2021-03-02T01:14:21Z</string>
	</dict>
	<key>copyright</key>
	<string>© 2016 Playrix</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<true/>
	<key>gameCenterEverEnabled</key>
	<true/>
	<key>genre</key>
	<string>游戏</string>
	<key>genreId</key>
	<integer>6014</integer>
	<key>hasOrEverHasHadIAP</key>
	<true/>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>1105855019</integer>
	<key>itemName</key>
	<string>梦幻花园  (Gardenscapes)</string>
	<key>kind</key>
	<string>software</string>
	<key>nameTranscriptions</key>
	<dict>
		<key>zh-Hans-CN</key>
		<array>
			<string>梦幻花园  (Gardenscapes)</string>
			<string>mèng huàn huā yuán  (Gardenscapes)</string>
			<string>夢幻花園  (Gardenscapes)</string>
		</array>
	</dict>
	<key>playlistName</key>
	<string>Playrix</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2021-03-02T01:14:21Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>频繁/强烈的竞赛 , 信息和聊天 , 赌博与竞赛 , 家长控制 and 抽奖箱</string>
		<key>label</key>
		<string>12+</string>
		<key>rank</key>
		<integer>300</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2016-08-25T04:13:21Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143465</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/54/9f/3a/549f3a53-96e5-8dfa-8639-ca30bf676cee/AppIcon-0-0-1x_U007emarketing-0-8-0-85-220.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.playrix.gardenscapes-m3-ios</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>8886725372</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>825393763</integer>
		<integer>828725319</integer>
		<integer>828870762</integer>
		<integer>850499294</integer>
		<integer>855071875</integer>
		<integer>863275228</integer>
		<integer>878063971</integer>
		<integer>878529432</integer>
		<integer>879641151</integer>
		<integer>879838755</integer>
		<integer>880119078</integer>
		<integer>880681657</integer>
		<integer>880840687</integer>
		<integer>882017004</integer>
		<integer>882308222</integer>
		<integer>882702621</integer>
		<integer>883422626</integer>
		<integer>884186273</integer>
		<integer>885027951</integer>
		<integer>885814618</integer>
		<integer>886567511</integer>
		<integer>886725372</integer>
	</array>
	<key>storeCohort</key>
	<string>10|date=1781191800000&amp;sf=143465</string>
	<key>subgenres</key>
	<array>
		<dict>
			<key>genre</key>
			<string>益智解谜</string>
			<key>genreId</key>
			<integer>7012</integer>
		</dict>
		<dict>
			<key>genre</key>
			<string>休闲</string>
			<key>genreId</key>
			<integer>7003</integer>
		</dict>
	</array>
	<key>vendorId</key>
	<integer>118419865</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
